java:
  environment:
    CASE_MAINTENANCE_SERVICE_API_BASEURL: "http://div-cms-pr-189.service.core-compute-preview.internal"
    IDAM_API_URL: "https://idam-api.aat.platform.hmcts.net"
    FEATURE_DN_REFUSAL: "true"
    FEATURE_RESP_SOLICITOR_DETAILS: "true"
    SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE: false
    DATAEXTRACTION_STATUS_DA_EMAILTO: da_data_extraction@sharklasers.com
    DATAEXTRACTION_STATUS_AOS_EMAILTO: aos_data_extraction@sharklasers.com
    DATAEXTRACTION_STATUS_DN_EMAILTO: dn_data_extraction@sharklasers.com
    DIV_SCHEDULER_DB_HOST : "{{ .Release.Name }}-postgresql"
    DIV_SCHEDULER_DB_NAME : "{{ .Values.postgresql.postgresqlDatabase}}"
    DIV_SCHEDULER_DB_USER_NAME : "{{ .Values.postgresql.postgresqlUsername}}"
    DIV_SCHEDULER_DB_PASSWORD  : "{{ .Values.postgresql.postgresqlPassword}}"
    FLYWAY_URL : "jdbc:postgresql://{{ .Release.Name }}-postgresql:5432/{{ .Values.postgresql.postgresqlDatabase}}"

  keyVaults:
    "div":
      resourceGroup: div
      secrets:
        - ccd-submission-s2s-auth-secret
        - div-doc-s2s-auth-secret
        - idam-secret
        - frontend-secret
        - idam-citizen-username
        - idam-citizen-password
        - idam-caseworker-username
        - idam-caseworker-password
        - uk-gov-notify-api-key

  # Don't modify these properties
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}

postgresql:
  enabled: true
  service:
    port: 5432
  persistence:
    enabled: false
