.DS_Store

# Gradle
.gradle

# Generated
bin
build
classes
out
target

# IntelliJ
*.ipr
*.iml
*.iws
.idea

# VSCode
.vscode
.settings
.classpath
.project
application-*.yml
application-*.yaml
application-local.properties

 *.swp