<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- for wiremock fast clean thread errors -->
    <logger name="org.eclipse.jetty.util.thread.QueuedThreadPool" level="ERROR" />
    <logger name="wiremock.org.eclipse.jetty.util.thread.QueuedThreadPool" level="ERROR" />
    <logger name="org.apache.catalina.loader.WebappClassLoaderBase" level="ERROR" />
</configuration>
